html {
  background-color: white;
}

h1 {
  /* font-family: monospace; */
  color: darkslategray;
}

.role-title {
  color: darkslategray;
  font-weight: bold;
}

.card { 
  /* background-color: #efefef; */
  /* background-color: beige; */
  background-color: rgb(255, 255, 208);
  margin: 0 auto 0 auto;
  /* margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px; */
  color: black;
  font-family: Verdana;
  font: 1.2em / 1.5 system-ui;
  padding: 22px;
  width: 575px;
  /* border-radius: 16px; */
  border-width: 11px;
  border-style: solid;
  border-image: url("https://foollovers.com/mat/menu05/51a-none.gif") 9 round;
  box-sizing: border-box;
  /* overflow: hidden; */
}

body {
  /* background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg'); */
  /* background-attachment: fixed;
  background-repeat: repeat;  */
  /* background-color: #98c2d6 rgb(154, 249, 241) rgb(133, 241, 240); */
  background-color: #6a6f4c;
}

ul {
  background-color: indianred;
  border: 5px solid brown;
  padding: 30px;
  border-radius: 20px;
  list-style-type: none;
}

a {
  color: maroon;
}

a:hover,
a:focus {
  color: khaki ;
  text-decoration: none;
}
